mock>=1.2
flake8
coverage>=4.5.2
os-testr>=0.4.1
charms.reactive
git+https://github.com/openstack/charms.openstack.git#egg=charms-openstack
git+https://github.com/juju/charm-helpers.git#egg=charmhelpers
