applications:
  cinder-netapp:
    options:
      netapp-vserver: {{ NETAPP_VSERVER }}
      netapp-server-hostname: {{ NETAPP_SERVER_HOSTNAME }}
      netapp-server-port: {{ NETAPP_SERVER_PORT }}
      netapp-login: {{ NETAPP_LOGIN }}
      netapp-password: {{ NETAPP_PASSWORD }}
